<% provide(:title, "登录") %>
<h1>登录</h1>
<div class="row">
	<div class="col-md-4 col-md-offset-4">
	<%= form_for(:login, url: login_path) do |f| %>

	<%= f.label "邮箱" %>
	<%= f.email_field :email, class: "form-control" %>

	<%= f.label "密码" %>
	<%= f.password_field :password, class: "form-control"  %>
	<span>
	<%= link_to "还没有账户？快去注册", signup_path %>
	</span>
	<%= f.submit "登录",class: "btn btn-primary" %>

	<% end %>
	</div>
</div>	